/* ------- */
.statis-controller-wrp {
  margin-bottom: 16px;
}
.statis-type {
  font-size: 18px;
  font-weight: 800;
}

.statis-ctroller {
  padding-left: 1rem;
  padding-top: 0.5rem;
}
.statis-button {
  margin-top: 48px;
}
